<component name="ArtifactManager">
  <artifact type="war" name="spring-crm-rest-security:war">
    <output-path>$PROJECT_DIR$/spring-crm-rest-security/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-crm-rest-security</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-crm-rest-security-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-crm-rest-security:war exploded" />
    </root>
  </artifact>
</component>